// Expanded
@charset "UTF-8";

$mediaQuery-tb: 800px;
$mediaQuery-pc: 1000px;
@mixin font-head{
 font-size: 5rem;
 font-weight: 300;
}

@import "set/mixin";
@import "set/base";

/* Contents */
@import "cont/contents";
@import "cont/form";

.overlay{
 display: none;
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
 background: rgba(0,0,0,.6);
 overflow: hidden;
 overflow-y: auto;
 z-index: 20;
 -webkit-overflow-scrolling: touch;
}
