#contact{
 form{
  display: block;
  width: 90%;
  margin: 0 auto;
  dl{
   margin: 10px 0px;
   dt{
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
   }
   dd{
    margin: 0;
   }
   &:last-child{
    text-align: center;
    margin: 16px 0;
   }
  }
  input{
   background: none;
   background-color: rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
   border: none;
   -webkit-appearance: none;
   border-radius: 0;
   font-size: 1.6rem;
   font-weight: 300;
   width: 100%;
   padding: 14px;
   &:focus{
    outline: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
   }
   &.confirm{
    background-color: #111;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.8rem;
    text-indent: 0.8rem;
    text-transform: uppercase;
    width: 60%;
    min-width: 150px;
    transition: .3s;
    cursor: pointer;
    &.off{
     background-color: rgba(17, 17, 17, 0.6);
     cursor: default;
    }
    &:not(.off):hover{
     background-color: rgba(17, 17, 17, 0.8);
    }
   }
  }
  textarea{
   @extend input;
   min-height: 180px;
   overflow: auto;
  }
  @include mq-min($mediaQuery-tb){
   width: 80%;
   max-width: 600px;
   dl:last-child{
    margin: 30px 0 10px;
   }
  }
 }
 $spanColor: rgba(200, 0, 10, .8);
 .error{
  color: #c7000a;
  input, textarea{
   background-color: rgba(200, 0, 10, 0.1);
   &:focus{
    box-shadow: 0 0 6px rgba(200, 0, 10, 0.2) inset;
   }
  }
  span.er{
   display: none;
   position: absolute;
   right: 12px;
   bottom: 0;
   background: $spanColor;
   color: #fff;
   padding: 8px 10px 8px 14px;
   z-index: 1;
   &::after{
    content: '';
    position: absolute;
    right: 30px;
    bottom: -6px;
    border-color: $spanColor transparent;
    border-style: solid;
    border-width: 6px 6px 0 6px;
   }
  }
 }
}
.overlay{
 display: none;
 position: fixed;
 top: -10px;
 right: 0;
 left: 0;
 bottom: -10px;
 background: rgba(0,0,0,.6);
 overflow: hidden;
 overflow-y: auto;
 z-index: 20;
 -webkit-overflow-scrolling: touch;
 backface-visibility: hidden;
 .inner{
  display: table;
  width: 100%;
  height: 100%;
  padding: 10px 0;
 }
}
#contactModal{
 background: #fff;
 font-size: 1.4rem;
 width: 90%;
 min-height: 80%;
 margin: 30px auto;
 padding: 10px;
 p{
  text-align: center;
 }
 dl{
  dt{
   position: relative;
   color: #555;
   font-weight: bold;
   padding: 8px 6px;
   &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
   }
  }
  dd{
   margin: 0;
   padding: 6px;
  }
 }
 .formAction{
  position: relative;
  text-align: center;
  margin: 50px auto 20px;
  input{
   display: inline-block;
   box-sizing: border-box;
   -webkit-appearance: none;
   border: 0;
   border-radius: 0;
   letter-spacing: 0.2rem;
   transition: .3s;
   cursor: pointer;
   &.close{
    position: absolute;
    color: #999;
    left: 0;
    bottom: 5px;
    &:hover{
     color: #ccc;
    }
   }
   &.submit{
    background-color: #42a5f5;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.8rem;
    text-indent: 0.8rem;
    text-transform: uppercase;
    width: 40%;
    padding: 14px;
   }
  }
 }
 @include mq-min($mediaQuery-tb){
  width: 60%;
  max-width: 800px;
  padding: 20px 30px;
 }
}
